body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
    font-weight: 700;
    font-size: larger;
    color: rgb(49, 140, 186);
}

.Requests {
    display: flex;
    justify-content: center;
    margin: 10px 0 20px;
}
.Requests .request-list {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.Requests .request-list .request-option {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
    cursor: pointer;
}


.Contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9px 40px;
    max-width: 700px;
    margin: auto;
}
.Contact .field {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
}
.Contact .field label {
    text-align: right;
    padding-right: 15px;
    font-weight: 600;
}
.Contact .field input {
    width: 100%;
    padding: 6px 8px;
    background-color: #dbe3f4;
    border: none;
    border-bottom: 2px solid #777;
}



.login-credentials {
    max-width: 900px;
    margin: auto;
    margin-top: 10px;
}
.login-credentials .title {
    font-weight: 700;
    color: rgb(49, 140, 186);
}
.login-credentials .credentials-grid {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5px;
}
.login-credentials .field {
    display: flex;
    align-items: center;
    gap: 10px;
}
.login-credentials .field label {
    font-weight: 600;
    white-space: nowrap;
}
.login-credentials .field input {
    width: 100%;
    padding: 6px 8px;
    background-color: #dbe3f4;
    border: none;
    border-bottom: 2px solid #777;
}
#compUsername {
   min-width: 300px; 
}
.login-credentials .note {
    font-size: smaller;
    font-style: italic;
    color: #555;
    margin-top: 0px;
    padding-left: 90px;
}



.Username-365 {
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
}
.Username-365 .title {
    font-weight: 700;
    color: rgb(49, 140, 186);
}
.Username-365 .reqComp {
    font-size: 9px;
    color: #555;
}
.Username-365 .Username-Grid {
    display: flex;
    gap: 2px;
}
.Username-365 .field {
    display: flex;
    align-items: center;
    gap: 2px;
}
.Username-365 .field label {
    font-weight: 600;
    white-space: nowrap;
}
.Username-365 .field input {
    width: 100%;
    padding: 6px 8px;
    background-color: #dbe3f4;
    border: none;
    border-bottom: 2px solid #777;
}



.License-365 {
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
}
.License-365 .title {
    font-weight: 700;
    color: rgb(49, 140, 186);
}
.License-365 .addRemove {
    display: flex;
    gap: 45px;
    padding-left: 415px;
}
.addRemvKiosk {
    margin-left: 18px;
}
.License-365 .addRemove .txt {
    font-size: 9px; 
}
.License-365 .License-Grid {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5px;
}
.License-365 .field {
    display: flex;
    align-items: center;
    gap: 5px;
}
.License-365 .field label {
    font-weight: 600;
    white-space: nowrap;
}
